{
  "presets": [
    "stage-1",
    "react",
    [
      "latest", {
        "es2015": {
          "modules": false
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [["env"], "react"]
    }
  },
  "plugins": [
    "external-helpers"
  ]
}
